@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Roboto';
}

ion-icon {
    cursor: pointer;
}

.header, .footer {
    width: 100%;
    height: 80px;
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
    left: 0px;
}

.header > img {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.header > ion-icon {
    width: 42px;
    height: 31px;
    margin-right: 24px;
}

.mailbox {
    margin-bottom: 80px;
}

.footer {
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0px;
    left: 0px;  
}

.footer > ion-icon {
    width: 26px;
    height: 26px;
    margin-right: 27px;
}

.input-message {
    width: 90%;
    font-size: 18px;
    border: none;
    outline: none;
    margin-left: 17px;
}

.input-message::placeholder {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #000000;
}

.message-status {
    background-color: #DCDCDC;
}

.message-all {
    background-color: #FFFFFF;
}

.message-time {
    display: inline-block;
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 400;
}

.message-content {
    display: inline-block;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.message-content strong {
    display: inline-block;
    font-weight: 700;
    margin-right: 5px;
    margin-left: 5px;
}